notebooks/results
data
.idea
cords.egg-info
build
dist
__pycache__
/results/
_ARCHIVE
_CHECK_SCRIPTS/results
BATCH_PROCESS_*
PLOTS_*
venv
*.pickle
.DS_Store
_CHECK_SCRIPTS
.ipynb_checkpoints
_CACHED_RESULTS
_CACHED_SCRIPTS
